<br>
<h2>Contact Information</h2>
<h3> S1G4</h3>
<div class="ui-list">
  <div class="item">
    <a href="tel:+15199924210"><i class="phone icon"></i>Phone</a>
  </div>
  <div class="item">
    <a href="mailto:karkala@uwindsor.ca">
      <i class="mail icon"></i>
      Email
  </a>
  </div>
</div>
<br><br><br>
{{outlet}}